<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace enseignant</title>
</head>
<body>
    <h1>Bienvenue, Enseignant !</h1>
    <p>Vos informations :</p>
    <ul>
        <li>Email : <span th:text="${utilisateur.email}"></span></li>
        <li>Pseudo : <span th:text="${utilisateur.pseudo}"></span></li>
        <li>Prénom : <span th:text="${utilisateur.prenom}"></span></li>
        <li>Nom : <span th:text="${utilisateur.nom}"></span></li>
        <li>Date de naissance : <span th:text="${utilisateur.DOB}"></span></li>
        <li>Statut : <span th:text="${utilisateur.statut}"></span></li>
    </ul>
</body>
</html>