<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemple</title>
</head>
<body>
    <h1>Exemple Thymeleaf + Javascript</h1>
    <script th:inline="javascript">
        let valeur = /*[[${maValeur}]]*/ 'Valeur par défaut';
        var username = "Sebastian \"Fruity\" Applejuice";
        alert("Valeur provenant de Thymeleaf : " + valeur + "\n"
            + "Valeur username : " + username
        );
    </script>
</body>
</html>